$tabletMedia: 768px;
$mobileMedia: 670px;
$container: 998px;


// screen-resolution
$container-max-width: 1400px;
$desktop-width-middle: 1440px;
$desktop-width: 1200px;
$desktop-width-min: 1023px;
$tablet-width: 767px;
$mobile-width: 480px;

//padding
$desktop-padding: 0 50px;
$desktop-middle-padding: 0 20px;
$tablet-padding: 0 15px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$openSansRegular: "OpenSans-Regular", arial, sans-serif;
$openSansBold: "OpenSans-Bold", arial, sans-serif;

//font-weight
$normal: 400;
$bold: 800;

//colors
$black: #000000;
$white: #ffffff;
$blue: #172340;
$yellow: #ffC130;
$yellow-gradient: linear-gradient(114.87deg, #FF9B00 19.51%, #FFC738 75.38%);
$blue-gradient: linear-gradient(89.65deg, #182648 0.27%, #172340 99.66%);
