.main-footer--contacts {
  margin-top: 0;
  @media(max-width: 767px) {
    background: linear-gradient(283.81deg, #172340 -4.47%, #27324F 96.77%), #172340;

  }
}

.contacts__main {
  background: #212D4A;

  .container {
    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      padding: 0 30px;
    }
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;

  @include desktop-width {
    gap: 20px;
  }
  @media (max-width: 766px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .messengers {
    grid-template-columns: repeat(3, 35px);
  }

  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 42px;
    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-top: 50px;
    }
  }

  .socials {
    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      grid-template-columns: repeat(3, 33px);
      grid-gap: 10px;
    }
  }
}

.contacts__wrap-phone {
  display: flex;

  @media(min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-direction: column;
  }
  @include mobile-width {
    flex-direction: column;
  }
}

.contacts__item {
  position: relative;
  border: solid 1px transparent;
  border-image: linear-gradient(314deg, #FFB520 63%, rgba(28, 40, 69, 0.7) 88%, #212D4A 80%);
  border-image-slice: 1;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px 0 12px;

  @media(min-width: $tablet-width) and (max-width: $desktop-width) {
    min-height: 250px;
  }

  &:before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }
}

.contacts__item--phone {
  &:before {
    width: 50px;
    height: 50px;
    background-image: url(../images/svg/phones.svg);
    top: -18px;
    left: -3px;
  }
}

.contacts__item--mail {
  a {
    text-decoration: underline;
    margin-bottom: 17px;

  }

  &:before {
    width: 50px;
    height: 50px;
    background-image: url(../images/svg/mail.svg);
    top: -7px;
    left: 13px;
  }
}

.contacts__item--marker {
  a {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  p {
    font-size: 20px;
    line-height: 20px;
    /* or 100% */

    letter-spacing: 0.02em;
  }

  &:before {
    width: 47px;
    height: 55px;
    background-image: url(../images/svg/marker.svg);
    top: -15px;
    left: -8px;
  }
}

.contacts__wrap-form {
  background: #172340;
  margin-top: 63px;
  @media(max-width: 767px) {
    background: #212D4A;
  }

  .form-order__points {
    grid-template-columns: repeat(1, 1fr);
  }


  .service-slider__btn {
    padding: 10px 17px;
  }

  .form-order__inner-box::before {
    background-image: url(../images/svg/pen.svg);
    width: 58px;
    height: 58px;
  }

  .contacts__forms {
    display: flex;
    gap: 30px;
    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      gap: 10px;
    }
    @media(max-width: 767px) {
      flex-direction: column;
    }

  }

  .form-order {
    max-width: 520px;
    width: 100%;
    margin: 0;

    .form-order__inner-box {
      @media(max-width: 767px) {
        border: solid 3px transparent;
        border-image: linear-gradient(330deg, rgba(86, 100, 130, 0.81) -7%, rgba(28, 40, 69, 0.7) 102%, #212D4A 97%);
        border-image-slice: 1;
        padding: 13px;
      }

    }

    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      max-width: unset;
      width: 50%;
    }
    @media(max-width: 767px) {
      max-width: unset;
      width: 100%;
    }

  }

  .form-order__data-box {
    display: block;
  }

  .form-order__data-box input {
    max-width: 400px;
    @media(max-width: 767px) {
      max-width: unset;
      width: 100%;
    }
  }

  .form-order__data-box textarea {
    max-width: 400px;
    min-height: 95px;
    @media(max-width: 767px) {
      max-width: unset;
      width: 100%;
      min-height: 65px;
    }
  }


  .form-order__wrap-box {
    padding: 30px 40px 40px 40px;
    background-image: linear-gradient(289.07deg, rgba(86, 100, 130, 0.81) -7.49%, #172340 95.19%);
    @media(max-width: 767px) {
      padding: 30px 27px 40px 13px;
      background-image: linear-gradient(289.07deg, rgba(86, 100, 130, 0.81) -7.49%, #212D4A 96.19%);
    }
  }

  .form-order__box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-order__data-box {
    width: 100%;
  }

  .form-order__wrapper {
    @media(max-width: 767px) {
      margin: 0 auto;
    }
  }

  .form-order__data-box label {
    left: 10px;
    @media(max-width: 767px) {
      left: 0;
      font-size: 14px;
    }
  }

  .service-slider__btn {
    margin: 30px 0 0 0;
  }

  .form-order__wrap-box h3 {
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.05em;

    @media(max-width: 767px) {
      white-space: nowrap;
    }
  }
}


.service-slider__btn {
  margin: 40px 0 40px 15px;
  max-width: 245px;
  border: 2px solid $yellow;
  padding: 10px 0;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  position: relative;
  transition: all 0.5s;

  @include tablet-width {
    max-width: 200px;
    font-size: 16px;
    line-height: 16px;
    margin: 20px 0 20px 15px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: $yellow;
    transition: all 0.5s;

    @include tablet-width {
      width: 25px;
      height: 25px;
    }
  }

  &::before {
    top: -13px;
    left: -13px;
    border-width: 2px 0 0 2px;
  }

  &::after {
    bottom: -13px;
    right: -13px;
    border-width: 0 2px 2px 0;
  }

  &:hover::before,
  &:hover::after {
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    border-color: $yellow;
  }

  &:hover {
    text-decoration: none;
    color: $blue;
    background-color: $yellow;
  }
}

button {
  background: transparent;
  color: white;
  cursor: pointer;
}

textarea {
  resize: none;
  background: transparent;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.1375) 105.92%);
  background-repeat: no-repeat;
  border: none;
  background-position: 0 calc(100% + 3px), 0 0;
  background-size: 100% 3px;
  border-bottom: 2px solid transparent;
  width: 100%;
  outline: none;
  color: white;
}


.form-order__data-box textarea:focus ~ label, .form-order__data-box textarea.not-empty ~ label, .form-order__data-box-2 textarea:focus ~ label, .form-order__data-box-2 textarea.not-empty ~ label {
  font-size: 15px;
  transform: translateY(-20px);
  transition: all 0.3s linear;
  color: rgba(255, 193, 48, 0.5);
}

.contacts__map {
  width: 80%;
  height: auto;

  @media(min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 50%;
  }
  @media(max-width: 767px) {
    height: 338px;
    width: 100%;
  }
}

/***************************
	Author: Yury Nemets
	URL: //sitehere.ru
****************************/

.ymap-container {
  background: url('../images/prew.jpg') #fff no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 82.4%;
  margin: 60px auto;
  @media(max-width: 767px) {
    margin: 0 auto;
  }
}

#map-yandex {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 7;
}

/*Индикатор загрузки, который показывается до загрузки карты*/
.loader {
  color: #000;
  position: absolute;
  box-sizing: border-box;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 15;
  transition: opacity .7s ease;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
}

.loader:after,
.loader:before {
  box-sizing: border-box;
}

.loader.is-active {
  top: 0;
  opacity: 1;
}

.loader-default:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: solid 8px #fff;
  border-left-color: transparent;
  border-radius: 50%;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}


.main-blog {
  background: url("../images/blog-bg.png") no-repeat top;
  background-size: cover;
}

.main-footer--blog {
  margin-top: 0;
}

.blog__sorting {
  br {
    display: none;

    @media(max-width: 767px) {
      display: block;
    }
  }

  p {
    font-size: 18px;
    line-height: 25px;

    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  button {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    @media(max-width: 767px) {
      margin-top: 10px;
      font-size: 14px;
      line-height: 19px;
    }
  }

  .active {
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #FFC130;
    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 40px;
  gap: 30px 30px;
  @media(max-width: 1130px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
  }

  @media(max-width: 875px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
  }
  @media(max-width: 560px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
  }
  @media(max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px 10px;
  }
}

.blog__item {
  position: relative;
  overflow: hidden;
  display: block;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.33));
  @media(max-width: 560px) {
    max-width: 230px;
    margin: 0 auto;
  }

  &:hover {
    .blog__item-head {
      transform: translateY(-100%);
      opacity: 0;
      transition: .1s;
    }

    .blog__item--overlay {
      transform: translateY(0);
      opacity: 1;
      transition: 0.5s;
    }
  }

  a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

  }

  &-head {
    background: linear-gradient(253.67deg, rgba(23, 35, 64, 0.55) -3.35%, rgba(86, 100, 130, 0.9) 100.41%), linear-gradient(137.74deg, #6A7AA4 -7.86%, #2A375A 93.68%);
    padding: 15px 18px 14px 19px;
    margin-bottom: 5px;
    transition: .1s;
    @media(max-width: 767px) {
      padding: 15px 12px 14px 14px;
    }

  }

  .blog__more {
    font-size: 16px;
    line-height: 22px;
    color: #FFC130;
    display: flex;
    align-items: center;
    gap: 7px;
    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }

    img {
      width: 31px;
      height: 10px;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    @media(max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .blog__data {
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .blog__item-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .blog__img {
    position: relative;
    height: 245px;

    img {
      top: 0;
      position: absolute;
      width: 100%;
      object-fit: cover;
      height: 278px;
      transition: 0.5s;

    }
  }

  &:hover {
    .blog__item-desc {
      //transform: translateX(0);
      transition: 0.2s;
    }

    .blog__img {
      img {
        top: -45%;
        height: 365px;
        transform: scale(1.1);
        transition: 0.4s;
      }
    }
  }

}

.blog__wrap-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.blog__item--overlay {
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 23px;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 40, 69, 0.7);
  opacity: 0;
  transition: .6s;

  &-border {

    position: absolute;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 4px;
    width: 97.5%;
    height: 98%;
    border: solid 1px transparent;
    border-image: linear-gradient(498deg, #FFB520 69%, rgba(28, 40, 69, 0) 94%, #212d4a00 80%);
    border-image-slice: 1;
  }
}


.pagination {
  margin-top: 42px;
  margin-bottom: 56px;
  display: flex;
  justify-content: center;

  &--active {
    color: #FFC130;
    border: 1px solid #FFC130;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 16px;
    line-height: 20px;

    &:not(:first-child):not(:last-child) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__prev {
    margin-right: 35px;
  }

  &__next {
    margin-left: 35px;
    transform: rotate(180deg);
  }

  &--word {
    ul {
      gap: 148px;
      @media(max-width: 680px) {
        gap: 50px
      }
      @media(max-width: $tablet-width) {
        gap: 20px;
      }
    }
  }

  &__word {
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #FFB520;
      display: flex;
      align-items: center;
      @media(max-width: $tablet-width) {
        font-size: 14px;
      }

      img {
        width: 38px;
        height: 12px;
      }
    }

    &-next {
      img {
        margin-left: 15px;

      }
    }

    &-prev {

      img {
        transform: rotate(180deg);
        margin-right: 15px;
      }
    }
  }

}

.hide-desk {
  display: block;
  @media(max-width: $tablet-width) {
    display: none;
  }
}

.show-mobile {
  display: none;
  @media(max-width: $tablet-width) {
    display: block;
  }
}


.article {
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    @media(max-width: $tablet-width) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .container-wrap {
    position: relative;
  }

  .data {
    right: 50px;
    bottom: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    @media(min-width: $tablet-width) and (max-width: $desktop-width-min) {
      display: none;
    }
    @media(max-width: $tablet-width) {
      display: none;
    }
  }

  &__img-block {
    display: flex;
    margin-bottom: 36px;

    @media(min-width: $tablet-width) and (max-width: $desktop-width-min) {
      flex-direction: column;
      margin-bottom: 0;
    }
    @media(max-width: $tablet-width) {
      flex-direction: column;
      margin-bottom: 0;
    }


    img {
      max-width: 520px;
      width: 100%;
      min-height: 479px;
      object-fit: cover;
      @media(min-width: $tablet-width) and (max-width: $desktop-width-min) {
        max-width: unset;
        height: 479px;
        min-height: unset;
      }
      @media(max-width: $tablet-width) {
        max-width: unset;
        height: 201px;
        min-height: unset;
      }
    }
  }

  &__caption {
    padding: 52px 34px 52px 79px;
    background: linear-gradient(230deg, rgba(23, 35, 64, 0) 0%, #172340 100%), linear-gradient(270.05deg, #1A2643 -49.45%, rgba(26, 38, 67, 0) 99.93%), linear-gradient(278.37deg, rgba(96, 113, 157, 0.1) -10.02%, rgba(59, 73, 110, 0.725913) 51.08%, #2A375A 101.58%), rgba(255, 255, 255, 0.3);
    @media(min-width: $tablet-width) and (max-width: $desktop-width-min) {
      background: transparent;
      padding: 0;
    }
    @media(max-width: $tablet-width) {
      background: transparent;
      padding: 0;
    }


    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      @media(max-width: $tablet-width) {
        font-size: 14px;
        line-height: 19px;
      }

    }


  }
}


.about {
  &__wrap {
    h2 {
      margin-top: 20px;
      @media(max-width: 766px) {
        margin-bottom: 20px;
      }
    }
  }

  &__hero {
    position: relative;
    min-height: 439px;
    background-image: url('../images/abouthero.jpg');
    background-position: center;
    background-repeat: no-repeat;

    @media(max-width: 1390px) {
      background-position: -260px;
    }
    @media(max-width: 1200px) {
      background-position: -278px;
    }
    @media(max-width: 1120px) and (min-width: 767px) {
      background-image: url('../images/aboutherot.jpg');
      background-position: center;
      background-size: cover;


    }
    @media(max-width: 766px) {
      background-image: none;
      background-position: center;
      background-size: cover;
      min-height: 265px;
      padding-bottom: 10px;
    }
  }

  &__caption {
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;

      @media(max-width: 766px) {
        font-size: 13px;
        line-height: 18px;
      }
    }

    p:first-child {
      display: inline-block;
      align-items: baseline;
      gap: 10px;
      font-style: normal;
      font-weight: 600;
      color: #FFB520;
      margin: 0;
      max-width: 470px;

      span {
        display: inline-block;
      }
    }

    p:not(:first-child):not(:last-child) {
      font-style: normal;
      font-weight: normal;
      color: #FFFFFF;
      max-width: 470px;
      margin-left: 38px;
      margin-bottom: 0;
      @media(max-width: 766px) {
        margin-left: 29px;
      }
    }

    p:last-child {
      font-style: normal;
      color: #FFB520;
      margin-left: 85px;
      margin-top: 8px;
      @media(max-width: 766px) {
        margin-left: 60px;
      }
    }

    img {
      width: 111px;
      height: 42px;
      margin-right: 10px;


      @media(max-width: 766px) {
        width: 93px;
        height: 35px;
      }


    }

    &-wrap {


      padding-top: 74px;
      @media(max-width: 1200px) {
        padding-left: 20px;
      }
      @media(max-width: 1120px) and (min-width: 767px) {
        max-width: 500px;
        margin: 0 auto;

      }
      @media(max-width: 766px) {
        max-width: 500px;
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 0;
      }
    }
  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 89px;
    gap: 20px;


    @media(max-width: 1024px) and (min-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 0;
    }
    @media(max-width: 766px) {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 0;
      margin-bottom: 20px;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media(max-width: 1024px) and (min-width: 767px) {
        align-items: center;
      }

      @media(max-width: 766px) {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }

      &:nth-child(2) {
        p {
          margin-bottom: -75px;

          @media(max-width: 766px) {
            margin: 0;
          }
        }
      }

      p {
        margin-bottom: -43px;
        max-width: 260px;
        @media(max-width: 766px) {
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }

    p {
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
      @media(max-width: 766px) {
        max-width: unset;
        width: auto;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
      }
    }

    span {
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFC130;
      display: block;

      @media(max-width: 766px) {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.1em;
      }

    }

    img {
      width: 190px;
      height: 190px;
      @media(max-width: 766px) {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }
    }
  }

  &__content-wrap {
    max-width: 663px;

    @media(max-width: 1024px) and (min-width: 767px) {
      max-width: unset;
      background: #1F2C4B;
      padding: 40px 0;
    }
    @media(max-width: 766px) {
      max-width: unset;
      background: #1F2C4B;
      padding-bottom: 40px;
      padding-top: 40px;
    }

    .show-more {
      border: none;
      outline: none;
      background: transparent;
      font-size: 18px;
      line-height: 25px;
      text-decoration-line: underline;
      color: #FFFFFF;
      opacity: 0.7;
      padding: 0;
      margin-bottom: 15px;
      transition: .2s;


      &:hover {
        opacity: 1;
        transition: .2s;

      }
    }

    p {
      font-size: 18px;
      line-height: 25px;
      margin: 0 0 20px 0;
    }

    strong {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #FFC130;
    }
  }

  &__content {
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 623px;
    display: flex;
    align-items: center;

    .container {
      width: 100%;
    }

    @media(max-width: 1024px) and (min-width: 767px) {
      background-position: right;
    }
    @media(max-width: 766px) {
      min-height: 252px;
      display: none;
    }
  }

}


.download {
  font-size: 18px;
  line-height: 25px;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .2s;

  &:hover {
    color: rgba(255, 255, 255, 1);
    transition: .2s;
  }

  img {
    width: 19px;
    height: 17px;
  }
}


.requisites {
  margin-bottom: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    opacity: 0.7;
  }
}


.hide-d {
  display: none;
  @media(max-width: 1024px) and (min-width: 767px) {
    display: block;
  }
  @media(max-width: 766px) {
    display: block;
  }

}

.hide-m-t {
  display: block;
  @media(max-width: 1024px) and (min-width: 767px) {
    display: none;
  }
  @media(max-width: 766px) {
    display: none;
  }
}

.form-order__wrapper {
  margin: 60px auto;

  @include desktop-width {
    padding: 0 30px;
  }

  @include desktop-width-min {
    margin: 50px auto 30px auto;
  }

  @include tablet-width {
    padding: 0 7px;
    margin-bottom: 0;
  }
}

.form-order__inner-box {
  padding: 20px;
  border: solid 2px transparent;
  border-image: linear-gradient(330deg, rgba(86, 100, 130, 0.81) -7%, rgba(28, 40, 69, 0.7) 95%, #172340 97%);
  border-image-slice: 1;
  position: relative;

  @include tablet-width {
    padding: 7px;
  }

  &::before {
    width: 58px;
    height: 58px;
    position: absolute;
    content: "";
    top: -15px;
    left: -15px;
    background-image: url("../images/svg/pen.svg");
    background-repeat: no-repeat;

    @include tablet-width {
      width: 35px;
      height: 35px;
      top: -10px;
      left: -7px;
      background-size: 35px 35px;
    }
  }
}

.form-order__wrap-box {
  padding: 40px;
  background-image: linear-gradient(330deg, rgba(86, 100, 130, 0.81) -7%, rgba(28, 40, 69, 0.7) 80%, #172340 100%);

  @include tablet-width {
    padding: 30px 10px;
    background: linear-gradient(269.07deg, rgba(86, 100, 130, 0.81) -7.49%, #172340 95.19%);
  }

  h3 {
    padding-bottom: 40px;
    text-align: center;

    @include tablet-width {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.form-order__box {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  @include desktop-width-min {
    max-width: 615px;
  }

  @include tablet-width {
    max-width: 420px;
  }
}

.form-order__box-2 {
  display: none;

  h3 {
    padding-bottom: 5px;

    span {
      color: $yellow;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: $yellow;
  }
}

.form-order__data-box {
  display: grid;
  grid-gap: 0 60px;
  grid-template-columns: 65% auto;

  @include desktop-width-min {
    grid-template-columns: 1fr;
  }

  label {
    position: absolute;
    top: 0;
    left: 10px;
    cursor: text;
    transition: all 0.3s linear;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 25px;

    @include tablet-width {
      font-size: 14px;
      line-height: 19px;
    }
  }

  input {
    margin-bottom: 30px;
    max-width: 320px;
    width: 100%;
    padding: 0 0 5px 0;
    outline: none;
    border: 0;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.1375) 105.92%);
    background-repeat: no-repeat;
    background-position: 0 calc(100% + 3px), 0 0;
    background-size: 100% 3px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: $white;

    @include tablet-width {
      font-size: 14px;
      line-height: 19px;
      max-width: 100%;
    }

    &:required {
      ~ label {
        &::after {
          position: absolute;
          content: "*";
          top: 0;
          right: -8px;
        }
      }
    }

    &:focus,
    &.not-empty {
      ~ label {
        font-size: 14px;
        transform: translateY(-20px);
        transition: all 0.3s linear;
        color: rgba(255, 193, 48, 0.5);
      }
    }
  }
}

.form-order__point-1,
.form-order__point-2,
.form-order__point-3,
.form-order__weight,
.form-order__volume {
  position: relative;
}

.form-order__point-3 {
  &::before {
    width: 35px;
    height: 35px;
    position: absolute;
    content: "";
    top: -5px;
    right: 5px;
    background-image: url("../images/svg/icon-calendar.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
  }

  @include desktop-width-min {
    max-width: 270px;
  }

  @include tablet-width {
    max-width: 100%;
  }
}

.form-order__points {
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: 1fr 50px 1fr;

  @include tablet-width {
    grid-template-columns: 1fr;
  }

  .button-revers {
    width: 35px;
    height: 45px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    justify-self: center;
    background-color: transparent;
    background-image: url("../images/svg/icon-revert.svg");
    background-repeat: no-repeat;
    transition: all 0.5s ease;

    @include tablet-width {
      display: none;
    }
  }

  .button-revers--active {
    transform: rotate(180deg);
    transition: all 0.5s ease;
  }
}

.form-order__points-2 {
  display: grid;
  grid-gap: 0 70px;
  grid-template-columns: repeat(2, auto);

  @include tablet-width {
    grid-template-columns: 1fr;
  }
}

.form-order__data-box-2 {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  ul {
    @include reset-list;
    display: grid;
    justify-content: center;
    grid-gap: 70px;
    grid-template-columns: repeat(4, auto);

    @include desktop-width-min {
      grid-template-columns: repeat(2, auto);
      grid-gap: 30px 50px;
    }

    @include tablet-width {
      grid-template-columns: 1fr !important;
      grid-gap: 10px 0;
      padding-left: 20px !important;
    }
  }

  label {
    padding-left: 35px;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;

    &:before {
      width: 25px;
      height: 25px;
      border-radius: 2px;
      border: solid 1px #696F82;
      position: absolute;
      content: "";
      top: -2px;
      left: 0;
    }
  }

  input {
    &:checked + {
      label {
        &::before {
          border: solid 1px rgba(255, 199, 56, 0.3);
        }

        &::after {
          width: 21px;
          height: 21px;
          position: absolute;
          content: "";
          top: -1px;
          left: 1px;
          background-image: url("../images/svg/icon-check.svg");
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.button {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 0;
  border: solid 2px $yellow;
  background-color: $yellow;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  position: relative;
  transition: all 0.5s linear;
  overflow: hidden;
  display: block;

  &--effect-1 {
    margin-top: 30px;

    @include tablet-width {
      max-width: 150px;
      font-size: 16px;
      line-height: 25px;
    }

    span {
      color: $blue;
      position: relative;
      z-index: 1;
      transition: all 0.5s ease;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #33405d;
      height: 0;
      left: 50%;
      top: 50%;
      width: 100%;
      transition: all 0.5s ease 0s;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    &:hover {
      &::after {
        height: 350%;

        @include tablet-width {
          height: 340%;
        }
      }

      span {
        color: $white;
      }
    }
  }
}

.blue-effect {
  &::after {
    background-color: $blue;
  }
}

.yellow-effect {
  background-color: $blue;

  span {
    color: $white;
  }

  &::after {
    background-color: $yellow;
  }

  &:hover {
    span {
      color: $blue;
    }

    &::after {
      height: 350%;
    }
  }
}


.delivery {


  @include desktop-width-min {
    h2 {
      margin-bottom: 20px;
    }
  }

  .form-order__box--delivery {
    .service-slider__btn {
      margin-left: auto;
      max-width: 246px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-right: auto;
      margin-bottom: 0;
    }
  }

  &__delivery-caption {
    margin-top: 198px;
    margin-bottom: 60px;

    @include desktop-width-min {
      margin-top: 0;
      margin-bottom: 40px;
    }
    @media(max-width: 767px) {
      margin-top: 20px;
    }


    h3 {
      position: relative;
      font-weight: bold;
      font-size: 26px;
      line-height: 36px;
      color: #FFC130;
      text-align: center;
      padding-bottom: 20px;
      margin-bottom: 60px;

      @media(max-width: 1024px) {
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 20px;
      }

      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, rgba(255, 193, 48, 0) 0%, rgba(255, 193, 48, 0.62) 24.96%, #FFC130 52.52%, rgba(255, 193, 48, 0.71) 73.84%, rgba(255, 193, 48, 0) 99.84%);
        bottom: 0;
        left: 0;
      }

    }

    ul {
      list-style: decimal;
      @media(max-width: 1024px) {
        padding-left: 23px;
      }
    }

    li {
      max-width: 926px;
      margin: 0 auto;
    }

    li::marker {
      color: #FFC130;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      margin-left: 10px;

      @media(max-width: 1024px) {
        font-size: 14px;
        line-height: 19px;
      }
    }

    strong {
      color: #FFC130;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
  }

  &__caption {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    max-width: 650px;

    @media(max-width: 1400px) and (min-width: 1024px) {
      margin-bottom: 120px;
    }

    @media(max-width: 1024px) {
      max-width: unset;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__ordering {
    min-height: unset;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    @media(max-width: 767px) {
      background-position: 31%;
    }

    .form-order {
      margin-top: -94px;
      margin-bottom: -94px;
    }

    .form-order__data-box {
      gap: 0;
      grid-template-columns: 100% auto;
    }

    .form-order__wrapper {
      margin: 0;
      padding: 0 22px;
      background: #172340;
      height: 100%;
      @media(max-width: 1320px) and (min-width: 1024px) {
        padding: 10px;
      }
    }

    .form-order__inner-box {
      padding: 16px;
      height: 100%;
      @media(max-width: 1320px) and (min-width: 1024px) {
        padding: 10px;
      }

    }

    .form-order__wrap-box {
      height: 100%;

      @media(max-width: 1320px) and (min-width: 1024px) {
        padding: 25px;
      }
      @media(max-width: 767px) {
        padding: 30px 10px;
      }
    }

    &-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;


    }

    ul {
      list-style: none;
      padding: 0;
      max-width: 589px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;

      @include desktop-width-min {
        margin-left: auto;
        margin-right: auto;
        margin-top: 76px;
        margin-bottom: 76px;
      }
      @include tablet-width {
        margin-top: 52px;
        margin-bottom: 52px;
        gap: 15px;
      }

      li {
        display: flex;
        align-items: center;
        gap: 20px;
        @media(max-width: 767px) {
          flex-direction: column;
          align-items: end;
        }

        img {
          width: 100px;
          height: 100px;

          @media(max-width: 767px) {
            margin: 0 auto;
            margin-bottom: -20px;
          }
        }

        h3 {
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.03em;
          color: #FFC130;
          text-transform: uppercase;
          @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 19px;
          }
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #FFFFFF;
          margin: 0;
          @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
    }
  }
}


.form-group {
  position: relative;
}

.form-order__data-wrap {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 15px;
}


.form-order__data-box-2 {
  label {
    cursor: pointer;
  }

  input:focus ~ label {
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    transform: translateY(0);
  }


  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 42px;
  }
}


.form-order__file-wrap {
  margin-top: 20px;

  .form-group {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    gap: 7px;

    img {
      width: 50px;
      height: 35px;

      @include tablet-width {
        width: 120px;
        height: 35px;
      }
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
  }

  label {
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFB520;
    cursor: pointer;
  }

  p {
  }

}

.form-order__data-box--com {
  margin-top: 20px;

  input {
    max-width: 100%;
  }
}

.form-order__radio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  @include tablet-width {
    justify-content: space-between;
    gap: 10px;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    @include tablet-width {
      padding-left: 23px;
    }
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 16px;
    border: 1px solid #696F82;
    border-radius: 100%;
    background: rgba(23, 35, 64, 0.1);
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: linear-gradient(114.87deg, #FF9B00 19.51%, #FFC738 75.38%);
    position: absolute;
    top: 7px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  [type="radio"]:checked + label:before {
    border: 1px solid rgba(255, 199, 56, 0.35);
  }


}


button {
  outline: none;
}

textarea {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 12px;
  padding-bottom: 20px;
  border-radius: 2px;
  min-height: 100px;
  color: #FFFFFF;
  border: solid 1px transparent;
  border-image: linear-gradient(47deg, #ffffff 23%, rgba(28, 40, 69, 0.7) 108%, #212d4a00 80%);
  border-image-slice: 1;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(105.92%, rgba(255, 255, 255, 0.25)));
  background: -o-linear-gradient(left, #FFFFFF 0%, rgba(255, 255, 255, 0.25) 105.92%);
  background: linear-gradient(248deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.25) 105.92%);


  &:focus {
    border: solid 1px transparent;
    border-image: linear-gradient(47deg, #FFB520 23%, rgba(28, 40, 69, 0.7) 108%, #212d4a00 80%);
    border-image-slice: 1;

  }
}

input:focus {
  background-image: linear-gradient(90deg, #FFB520 0%, rgba(255, 255, 255, 0.1375) 105.92%);
}

.form-group--text {
  margin-bottom: 30px;
}

.form-group textarea:focus ~ label {
  transition: all 0.3s linear;
}

.form-group--text label {

  position: absolute;
  top: 12px;
  left: 20px;
  cursor: text;
  transition: all 0.3s linear;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 25px;

  @media(max-width: 767px) {
    left: 10px;
    font-size: 13px;
  }
}

.text-label {
  top: 12px !important;
}

.form-group textarea:focus ~ label, .form-group textarea.not-empty ~ label {
  font-size: 14px;
  transform: translateY(-40px);
  transition: all 0.3s linear;
  color: rgba(255, 193, 48, 0.5);
  @media(max-width: 767px) {
    font-size: 13px;
  }
}

.file-res {
  display: none;
  align-items: center;
  gap: 10px;

  span {
    font-size: 14px;
    line-height: 20px;
    color: #FFB520;
    padding-left: 42px;
  }
}

.reset-file {
  img {
    width: 10px;
    height: 10px;
  }
}

.social-ch {

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0;
    margin-bottom: 20px;
  }

  ul {
    padding-left: 0;
  }

  input {
    &:focus ~ label {
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
    }
  }

  label {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;

    &:before {
      top: 0;
    }

    &:after {
      top: 1px !important;
      left: 2px !important;
    }
  }

  img {
    width: 27px !important;
    height: 27px !important;
  }
}

.form-order__delivery {
  &--hide {
    @include desktop-width-min {
      display: none;
    }

    @include tablet-width {
      display: none;
    }
  }

  &--show {
    display: none;
  }
}

.delivery__ordering-wrap {
  @include desktop-width-min {
    grid-template-columns: repeat(1, auto);
  }

  @include tablet-width {
    grid-template-columns: repeat(1, auto);
  }
}

.js-btn {
  display: none;
  margin: 47px auto;

  @include desktop-width-min {
    display: block;
  }

  @include tablet-width {
    display: block;
  }
}

.form-order__box--delivery .service-slider__btn {
  @media (max-width: 767px) {
    margin-top: 40px;
    max-width: 190px;
  }
}

.about__slider {
  position: relative;
  margin-bottom: 60px;

  h2 {
    font-size: 26px;
    line-height: 36px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.about__banners {
  padding: 0;

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    background: #FFFFFF;

    img {
      height: auto;
      max-width: 224px;
    }
  }

}

.about__slider-title {
  position: relative;
  display: flex;
  align-items: center;

  h2 {
    width: 100%;

    @media(max-width: 767px){
      margin-top: 40px;
    }
  }

  .about__slider-arrow {
  display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 80px;
  }

  .swiper-button-next:after {
    background: url(../images/svg/icon-arrow-right.svg) no-repeat center;
    width: 57px;
    height: 12px;
  }

  .swiper-button-prev:after {
    background: url(../images/svg/icon-arrow-left.svg) no-repeat center;
    width: 57px;
    height: 12px;
    transform: rotate(0deg);
  }

  .swiper-button-prev, .swiper-button-next {
    right: 0;
    outline: none;
    height: 12px;
    margin: 0;
    transform: translateY(-100%);

    @media(max-width: 410px){
      top: 240px;
    }
    @media(max-width: 380px){
      top: 230px;
    }
    @media(max-width: 335px){
      top: 225px;
    }
  }
  .swiper-button-next{
    right: 16px;
    @media(max-width: 410px){
      right: 33%;
    }
  }
  .swiper-button-prev{
    left:unset;
    right:110px;
    @media(max-width: 450px){
      right: 88px;
    }
    @media(max-width: 410px){
      right: 60%;
    }
  }
}
.form-order__title-block{
  font-size: 16px;
  line-height: 22px;
  color: #FFB520;
  margin-bottom: 20px;
  margin-top: -30px;
  @media(max-width: 767px){
    margin-bottom: 10px;
    margin-top: -20px;
  }
}