$icon-arrow-for-white: 33px 15px -33px -15px 10px 16px 149px 37px 'sprite.png';
$icon-arrow-white: 0px 15px 0px -15px 16px 22px 149px 37px 'sprite.png';
$icon-arrow: 43px 15px -43px -15px 15px 10px 149px 37px 'sprite.png';
$icon-logo-mobile: 0px 0px 0px 0px 149px 15px 149px 37px 'sprite.png';
$icon-phone: 16px 15px -16px -15px 17px 17px 149px 37px 'sprite.png';
