{% extends 'layout/base.twig' %}
{% block title %}Доставка из IKEA{% endblock %}
{% block body %}
    <main class="main-about">
        <section class="breadcrumbs">
            <div class="breadcrumbs__wrapper container">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li class="breadcrumbs__item-active"><span>Блог</span></li>
                </ul>
            </div>
        </section>
        <section class="about__hero">
            <div class="about__caption container">
                <div class="about__caption-wrap">
                    <p>
                        <span><img src="images/svg/mexp.svg" alt=""></span>занимается экспресс-доставкой грузов из
                        Минска в Москву и из Москвы в Минск. Возможна доставка от адреса к адресу.
                    </p>
                    <p>Мы перевозим ваши посылки на новых быстрых и надежных микроавтобусах, поэтому доставка приходит
                        всегда точно в указанный срок. В течение 12 часов посылка гарантированно прибудет в указанное
                        место. Услуга закрепляется заключением официального договора.</p>
                    <p>Мы доставляем от адреса к адресу!</p>
                </div>

            </div>
        </section>
        <section class="about">

            <div class="about__wrap">
                <div class="container">
                    <h2>О компании</h2>
                    <ul class="about__advantages">
                        <li>
                            <p>Быстрая доставка <span>за 12 часов</span></p>
                            <img src="images/icon-clock.png" alt="">
                        </li>
                        <li>
                            <p><span>CMR-страхование</span> гарантирует сохранность груза</p>
                            <img src="images/cmr.png" alt="">
                        </li>
                        <li>
                            <p>За доставку <span>ОТ 60 у.е</span></p>
                            <img src="images/money.png" alt="">
                        </li>
                        <li>
                            <p>Заключение <span>договора на услуги</span></p>
                            <img src="images/doc.png" alt="">
                        </li>
                    </ul>
                </div>

                <div class="about__content-wrap hide-d">
                    <div class="container">
                        <p>Мы перевозим ваши посылки на новых быстрых и надежных микроавтобусах, поэтому доставка
                            приходит всегда точно в указанный срок. В течение 12 часов посылка гарантированно
                            прибудет в
                            указанное место. Услуга закрепляется заключением официального договора.Мы перевозим ваши
                            посылки на новых быстрых и надежных микроавтобусах, поэтому доставка приходит всегда
                            точно в
                            указанный срок. В течение 12 часов посылка гарантированно прибудет в указанное место.
                            Услуга
                            закрепляется заключением официального договора</p>
                        <p><strong>Новый и обслуженный автопарк помогает стабильно доставлять грузы!</strong></p>
                        <button class="show-more">Наши реквизиты</button>
                        <div class="requisites">
                            <p>Индивидуальный предприниматель Матус Александр Ромуальдович</p>
                            <p>УНП № 691823822</p>
                            <p>Юридический адрес:</p>
                            <p>222357, Минская область, г. Воложин, ул. Луговая, 9</p>
                            <p>Почтовый адрес:</p>
                            <p>220090, г. Минск, Логойский тракт, 27-79</p>
                            <p>р\с BY96MTBK30130001093300039700 (BYN)</p>
                            <p>р\с BY86MTBK30130001064300039702 (RUR)</p>
                            <p>в ЗАО «МТБанк»</p>
                            <p>220007, г. Минск, ул. Толстого, 10, БИК МТВКВY22</p>
                        </div>
                        <a href="#" class="download">Пример договора <img src="images/svg/download.svg" alt=""></a>
                    </div>
                </div>
                <div class="about__content" style="background-image: url('images/about-bg.jpg')">
                    <div class="container">
                        <div class="about__content-wrap tr hide-m-t">
                            <p>Мы перевозим ваши посылки на новых быстрых и надежных микроавтобусах, поэтому доставка
                                приходит всегда точно в указанный срок. В течение 12 часов посылка гарантированно
                                прибудет в
                                указанное место. Услуга закрепляется заключением официального договора.Мы перевозим ваши
                                посылки на новых быстрых и надежных микроавтобусах, поэтому доставка приходит всегда
                                точно в
                                указанный срок. В течение 12 часов посылка гарантированно прибудет в указанное место.
                                Услуга
                                закрепляется заключением официального договора</p>
                            <p><strong>Новый и обслуженный автопарк помогает стабильно доставлять грузы!</strong></p>
                            <button class="show-more">Наши реквизиты</button>
                            <div class="requisites">
                                <p>Индивидуальный предприниматель Матус Александр Ромуальдович</p>
                                <p>УНП № 691823822</p>
                                <p>Юридический адрес:</p>
                                <p>222357, Минская область, г. Воложин, ул. Луговая, 9</p>
                                <p>Почтовый адрес:</p>
                                <p>220090, г. Минск, Логойский тракт, 27-79</p>
                                <p>р\с BY96MTBK30130001093300039700 (BYN)</p>
                                <p>р\с BY86MTBK30130001064300039702 (RUR)</p>
                                <p>в ЗАО «МТБанк»</p>
                                <p>220007, г. Минск, ул. Толстого, 10, БИК МТВКВY22</p>
                            </div>
                            <a href="#" class="download">Пример договора <img src="images/svg/download.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main-footer main-footer--blog">
        <section class="main-footer__wrapper container">
            <div class="main-footer__box">
                <div class="main-footer__image"><a href="#"><img src="images/svg/logo.svg" width="195" height="80"
                                                                 alt="Логотип"/></a></div>
                <div class="main-footer__address"><a
                            href="https://yandex.by/maps/157/minsk/house/Zk4Ycw5jQEIEQFtpfXVxcnRlYQ==/?ll=27.596172%2C53.903972&amp;utm_source=main_stripe_big&amp;z=17"
                            target="_blanck"><img src="images/svg/icon-pin.svg" width="30" height="30" alt="Адрес"/>Минск,
                        пер. Козлова 24А</a>
                    <p><img src="images/svg/icon-footer-clock.svg" width="30" height="30" alt="Время работы"/>9:00 -
                        20:00 без выходных
                    </p>
                </div>
                <ul class="socials">
                    <li><a href="#"><span class="visually-hidden">Вконтакте</span><img src="images/svg/icon-vk.svg"
                                                                                       width="35" height="35"
                                                                                       alt="Вконтакте"/></a></li>
                    <li><a href="#"><span class="visually-hidden">Инстаграм</span><img src="images/svg/icon-in.svg"
                                                                                       width="35" height="35"
                                                                                       alt="Инстаграм"/></a></li>
                    <li><a href="#"><span class="visually-hidden">Ютьюб</span><img src="images/svg/icon-youtube.svg"
                                                                                   width="35" height="35" alt="Ютьюб"/></a>
                    </li>
                    <li><a href="#"><span class="visually-hidden">Одноклассники</span><img src="images/svg/icon-ok.svg"
                                                                                           width="35" height="35"
                                                                                           alt="Одноклассники"/></a>
                    </li>
                    <li><a href="#"><span class="visually-hidden">Фэйсбук</span><img src="images/svg/icon-fb.svg"
                                                                                     width="35" height="35"
                                                                                     alt="Фэйсбук"/></a></li>
                    <li><a href="#"><span class="visually-hidden">Линкедин</span><img src="images/svg/icon-linked.svg"
                                                                                      width="35" height="35"
                                                                                      alt="Линкедин"/></a></li>
                </ul>
            </div>
            <div class="main-footer__nav">
                <ul class="main-footer__list-1">
                    <li><a href="#">Экспресс-доставка Москва-Минск</a></li>
                    <li><a href="#">Доставка по всей России</a></li>
                    <li><a href="#">Авиадоставка из Москвы</a></li>
                    <li><a href="#">Доставка из IKEA</a></li>
                </ul>
                <ul class="main-footer__list-2">
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="main-footer__contacts">
                    <div class="main-footer__contacts-box"><a href="tel:+375447585858"><img
                                    src="images/svg/icon-tel.svg" width="30" height="30" alt="Телефон"/>+375 44 758 58
                            58</a><a href="tel:+375447585858"><img src="images/svg/icon-tel.svg" width="30" height="30"
                                                                   alt="Телефон"/>+375 44 758 58 58</a><a
                                href="mailto:m_expressinfo@tut.by"><img src="images/svg/icon-mail.svg" width="30"
                                                                        height="30"
                                                                        alt="Почта"/>M_expressinfo@tut.by</a></div>
                    <ul class="messengers">
                        <li><a href="#"><span class="visually-hidden">Вайбер</span><img src="images/svg/icon-viber.svg"
                                                                                        width="35" height="35"
                                                                                        alt="Вайбер"/></a></li>
                        <li><a href="#"><span class="visually-hidden">Телеграм</span><img
                                        src="images/svg/icon-telegram.svg" width="35" height="35" alt="Телеграм"/></a>
                        </li>
                        <li><a href="#"><span class="visually-hidden">Ватсап</span><img
                                        src="images/svg/icon-whatsapp.svg" width="35" height="35" alt="Ватсап"/></a>
                        </li>
                        <li><a href="#"><span class="visually-hidden">Скайп</span><img src="images/svg/icon-skype.svg"
                                                                                       width="35" height="35"
                                                                                       alt="Скайп"/></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="developers">
            <div class="developers__wrapper"><a href="#">Разработка и продвижение<img src="images/svg/cmbox-logo.svg"
                                                                                      width="93" height="33"
                                                                                      alt="Digital-Агенство CmBox"/></a>
            </div>
        </section>
    </footer>
{% endblock %}
