{% extends 'layout/base.twig' %}
{% block title %}contacts{% endblock %}
{% block body %}
    <main class="main-blog">
        <section class="blog">
            <section class="breadcrumbs">
                <div class="breadcrumbs__wrapper container">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li class="breadcrumbs__item-active"><span>Блог</span></li>
                    </ul>
                </div>
            </section>
            <div class="blog__wrap">
                <div class="container">
                    <h2>Блог</h2>
                </div>
                <div class="blog__sorting">
                    <div class="container">
                        <p>Сортировать по: <br>
                            <button class="active">Сначала новые</button>
                            <button>Сначала популярные</button>
                        </p>
                    </div>
                </div>
                <ul class="blog__list container">
                    <li class="blog__item">
                        <article>
                            <a href="#">
                                <div class="blog__item-head">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                </div>
                                <div class="blog__img">
                                    <img src="images/i1i.jpg" alt="">
                                </div>

                                <div class="blog__item--overlay">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__item-desc">Мы не занимаемся упаковкой отправлений. Вы должны
                                        самостоятельно упаковать свою посылку. Упаковка должна быть</p>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                    <div class="blog__item--overlay-border"></div>
                                </div>
                            </a>
                        </article>
                    </li>
                    <li class="blog__item">
                        <article>
                            <a href="#">
                                <div class="blog__item-head">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                </div>
                                <div class="blog__img">
                                    <img src="images/i1i.jpg" alt="">
                                </div>

                                <div class="blog__item--overlay">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__item-desc">Мы не занимаемся упаковкой отправлений. Вы должны
                                        самостоятельно упаковать свою посылку. Упаковка должна быть</p>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                    <div class="blog__item--overlay-border"></div>
                                </div>
                            </a>
                        </article>
                    </li>
                    <li class="blog__item">
                        <article>
                            <a href="#">
                                <div class="blog__item-head">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                </div>
                                <div class="blog__img">
                                    <img src="images/i1i.jpg" alt="">
                                </div>

                                <div class="blog__item--overlay">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__item-desc">Мы не занимаемся упаковкой отправлений. Вы должны
                                        самостоятельно упаковать свою посылку. Упаковка должна быть</p>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                    <div class="blog__item--overlay-border"></div>
                                </div>
                            </a>
                        </article>
                    </li>
                    <li class="blog__item">
                        <article>
                            <a href="#">
                                <div class="blog__item-head">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                </div>
                                <div class="blog__img">
                                    <img src="images/i1i.jpg" alt="">
                                </div>

                                <div class="blog__item--overlay">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__item-desc">Мы не занимаемся упаковкой отправлений. Вы должны
                                        самостоятельно упаковать свою посылку. Упаковка должна быть</p>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                    <div class="blog__item--overlay-border"></div>
                                </div>
                            </a>
                        </article>
                    </li>
                    <li class="blog__item">
                        <article>
                            <a href="#">
                                <div class="blog__item-head">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                </div>
                                <div class="blog__img">
                                    <img src="images/i1i.jpg" alt="">
                                </div>

                                <div class="blog__item--overlay">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__item-desc">Мы не занимаемся упаковкой отправлений. Вы должны
                                        самостоятельно упаковать свою посылку. Упаковка должна быть</p>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                    <div class="blog__item--overlay-border"></div>
                                </div>
                            </a>
                        </article>
                    </li>
                    <li class="blog__item">
                        <article>
                            <a href="#">
                                <div class="blog__item-head">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                </div>
                                <div class="blog__img">
                                    <img src="images/i1i.jpg" alt="">
                                </div>

                                <div class="blog__item--overlay">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__item-desc">Мы не занимаемся упаковкой отправлений. Вы должны
                                        самостоятельно упаковать свою посылку. Упаковка должна быть</p>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                    <div class="blog__item--overlay-border"></div>
                                </div>
                            </a>
                        </article>
                    </li>
                    <li class="blog__item">
                        <article>
                            <a href="#">
                                <div class="blog__item-head">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                </div>
                                <div class="blog__img">
                                    <img src="images/i1i.jpg" alt="">
                                </div>

                                <div class="blog__item--overlay">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__item-desc">Мы не занимаемся упаковкой отправлений. Вы должны
                                        самостоятельно упаковать свою посылку. Упаковка должна быть</p>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                    <div class="blog__item--overlay-border"></div>
                                </div>
                            </a>
                        </article>
                    </li>
                    <li class="blog__item">
                        <article>
                            <a href="#">
                                <div class="blog__item-head">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                </div>
                                <div class="blog__img">
                                    <img src="images/i1i.jpg" alt="">
                                </div>

                                <div class="blog__item--overlay">
                                    <h3>Правила упаковки посылок</h3>
                                    <p class="blog__item-desc">Мы не занимаемся упаковкой отправлений. Вы должны
                                        самостоятельно упаковать свою посылку. Упаковка должна быть</p>
                                    <p class="blog__wrap-data">
                                        <span class="blog__data">20.10.2020</span>
                                        <span class="blog__more">Подробнее <img src="images/arrow-ar.svg" alt=""></span>
                                    </p>
                                    <div class="blog__item--overlay-border"></div>
                                </div>
                            </a>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="pagination container">
                <ul>
                    <li class="pagination__prev"><a href="#"><img src="images/svg/arrow-pag.svg" alt=""></a></li>
                    <li><a href="#">1</a></li>
                    <li class="pagination--active">2</li>
                    <li><a href="#">3</a></li>
                    <li>...</li>
                    <li><a href="#">8</a></li>
                    <li class="pagination__next"><a href="#"><img src="images/svg/arrow-pag.svg" alt=""></a></li>
                </ul>
            </div>
        </section>
    </main>
    <footer class="main-footer main-footer--blog">
        <section class="main-footer__wrapper container">
            <div class="main-footer__box">
                <div class="main-footer__image"><a href="#"><img src="images/svg/logo.svg" width="195" height="80"
                                                                 alt="Логотип"/></a></div>
                <div class="main-footer__address"><a
                            href="https://yandex.by/maps/157/minsk/house/Zk4Ycw5jQEIEQFtpfXVxcnRlYQ==/?ll=27.596172%2C53.903972&amp;utm_source=main_stripe_big&amp;z=17"
                            target="_blanck"><img src="images/svg/icon-pin.svg" width="30" height="30" alt="Адрес"/>Минск,
                        пер. Козлова 24А</a>
                    <p><img src="images/svg/icon-footer-clock.svg" width="30" height="30" alt="Время работы"/>9:00 -
                        20:00 без выходных
                    </p>
                </div>
                <ul class="socials">
                    <li><a href="#"><span class="visually-hidden">Вконтакте</span><img src="images/svg/icon-vk.svg"
                                                                                       width="35" height="35"
                                                                                       alt="Вконтакте"/></a></li>
                    <li><a href="#"><span class="visually-hidden">Инстаграм</span><img src="images/svg/icon-in.svg"
                                                                                       width="35" height="35"
                                                                                       alt="Инстаграм"/></a></li>
                    <li><a href="#"><span class="visually-hidden">Ютьюб</span><img src="images/svg/icon-youtube.svg"
                                                                                   width="35" height="35" alt="Ютьюб"/></a>
                    </li>
                    <li><a href="#"><span class="visually-hidden">Одноклассники</span><img src="images/svg/icon-ok.svg"
                                                                                           width="35" height="35"
                                                                                           alt="Одноклассники"/></a>
                    </li>
                    <li><a href="#"><span class="visually-hidden">Фэйсбук</span><img src="images/svg/icon-fb.svg"
                                                                                     width="35" height="35"
                                                                                     alt="Фэйсбук"/></a></li>
                    <li><a href="#"><span class="visually-hidden">Линкедин</span><img src="images/svg/icon-linked.svg"
                                                                                      width="35" height="35"
                                                                                      alt="Линкедин"/></a></li>
                </ul>
            </div>
            <div class="main-footer__nav">
                <ul class="main-footer__list-1">
                    <li><a href="#">Экспресс-доставка Москва-Минск</a></li>
                    <li><a href="#">Доставка по всей России</a></li>
                    <li><a href="#">Авиадоставка из Москвы</a></li>
                    <li><a href="#">Доставка из IKEA</a></li>
                </ul>
                <ul class="main-footer__list-2">
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="main-footer__contacts">
                    <div class="main-footer__contacts-box"><a href="tel:+375447585858"><img
                                    src="images/svg/icon-tel.svg" width="30" height="30" alt="Телефон"/>+375 44 758 58
                            58</a><a href="tel:+375447585858"><img src="images/svg/icon-tel.svg" width="30" height="30"
                                                                   alt="Телефон"/>+375 44 758 58 58</a><a
                                href="mailto:m_expressinfo@tut.by"><img src="images/svg/icon-mail.svg" width="30"
                                                                        height="30"
                                                                        alt="Почта"/>M_expressinfo@tut.by</a></div>
                    <ul class="messengers">
                        <li><a href="#"><span class="visually-hidden">Вайбер</span><img src="images/svg/icon-viber.svg"
                                                                                        width="35" height="35"
                                                                                        alt="Вайбер"/></a></li>
                        <li><a href="#"><span class="visually-hidden">Телеграм</span><img
                                        src="images/svg/icon-telegram.svg" width="35" height="35" alt="Телеграм"/></a>
                        </li>
                        <li><a href="#"><span class="visually-hidden">Ватсап</span><img
                                        src="images/svg/icon-whatsapp.svg" width="35" height="35" alt="Ватсап"/></a>
                        </li>
                        <li><a href="#"><span class="visually-hidden">Скайп</span><img src="images/svg/icon-skype.svg"
                                                                                       width="35" height="35"
                                                                                       alt="Скайп"/></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="developers">
            <div class="developers__wrapper"><a href="#">Разработка и продвижение<img src="images/svg/cmbox-logo.svg"
                                                                                      width="93" height="33"
                                                                                      alt="Digital-Агенство CmBox"/></a>
            </div>
        </section>
    </footer>
{% endblock %}
