{% extends 'layout/base.twig' %}
{% block title %}Доставка из IKEA{% endblock %}
{% block body %}
    <main class="main-delivery">
        <section class="delivery">
            <section class="breadcrumbs">
                <div class="breadcrumbs__wrapper container">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li class="breadcrumbs__item-active"><span>Блог</span></li>
                    </ul>
                </div>
            </section>
            <div class="delivery__wrap">
                <div class="container">
                    <h2>Доставка из IKEA</h2>
                    <p class="delivery__caption">Мы доставляем из IKEA в обычном режиме. Закрытие границы с Россией и
                        карантин в ИКЕА не влияет на
                        нашу работу</p>
                </div>
                <div class="delivery__ordering" style="background-image: url('images/delivery-bg1.jpg')">
                    <div class="container">
                        <div class="delivery__ordering-wrap">
                            <ul>
                                <li>
                                    <img src="images/svg/check.svg" alt="">
                                    <div class="delivery__desc">
                                        <h3>РАБОТАЕМ ПО 100% ПРЕДОПЛАТЕ</h3>
                                        <p>Вы можете сами оплатить или передать денежные средства и мы оплатим при
                                            покупке
                                            вашего заказа.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/svg/ikea.svg" alt="">
                                    <div class="delivery__desc">
                                        <h3>СКИДКИ</h3>
                                        <p>Предоставляем скидки по картеIKEA Family
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/svg/cmr.svg" alt="">
                                    <div class="delivery__desc">
                                        <h3>100% гарантия</h3>
                                        <p>Система CMR-страхования обеспечивает гарантию сохранности вашего груза
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/svg/sofa.svg" alt="">
                                    <div class="delivery__desc">
                                        <h3>доставим все</h3>
                                        <p>Грузы до 3,5 т, вместительность до 2, 5 кубов. Можем подсоединить лаферы и
                                            доставить даже авто!
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/svg/door.svg" alt="">
                                    <div class="delivery__desc">
                                        <h3>до двери подъезда</h3>
                                        <p>При необходимости зберем ваш груз прямо от двери и доставим по нужному адресу
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/svg/bus.svg" alt="">
                                    <div class="delivery__desc">
                                        <h3>ДОСТАВКА ЗА 12 ЧАСОВ</h3>
                                        <p>Экономим время и силы клиентов
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/svg/man.svg" alt="">
                                    <div class="delivery__desc">
                                        <h3>помощь таможенного агента</h3>
                                        <p>Мы можем оказать помощь в таможенном оформлении груза
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <section class="form-order">
                                <div class="form-order__wrapper container">
                                    <div class="form-order__inner-box">
                                        <div class="form-order__wrap-box">
                                            <form class="form-order__box form-order__box--delivery" enctype="multipart/form-data">
                                                <div class="form-order__box-1">
                                                    <h3>Оформить доставку</h3>
                                                    <div class="form-order__data-box">
                                                        <div class="form-order__points-box">
                                                            <div class="form-order__points">
                                                                <div class="form-order__point-1">
                                                                    <input id="point-1" type="text"/>
                                                                    <label for="point-1">Откуда</label>
                                                                </div>
                                                                <button class="button-revers" type="button">
                                                                    <span class="visually-hidden">Изменить маршрут</span>
                                                                </button>
                                                                <div class="form-order__point-2">
                                                                    <input id="point-2" type="text"/>
                                                                    <label for="point-2">Куда</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-order__points-2">
                                                                <div class="form-order__where form-group">
                                                                    <input id="street-1" type="text"/>
                                                                    <label for="street-1">Улица</label>
                                                                </div>
                                                                <div class="form-order__where form-group">
                                                                    <input id="street-2" type="text"/>
                                                                    <label for="street-2">Улица</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-order__points-2">
                                                                <div class="form-order__data-wrap">
                                                                    <div class="form-order__data form-group">
                                                                        <input id="house-1" type="text"/>
                                                                        <label for="house-1">Дом</label>
                                                                    </div>
                                                                    <div class="form-order__data form-group">
                                                                        <input id="korp-1" type="text"/>
                                                                        <label for="korp-1">Корп</label>
                                                                    </div>
                                                                    <div class="form-order__data form-group">
                                                                        <input id="room-1" type="text"/>
                                                                        <label for="room-1">Кв.</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-order__data-wrap">
                                                                    <div class="form-order__data form-group">
                                                                        <input id="house-2" type="text"/>
                                                                        <label for="house-2">Дом</label>
                                                                    </div>
                                                                    <div class="form-order__data form-group">
                                                                        <input id="korp-2" type="text"/>
                                                                        <label for="korp-2">Корп</label>
                                                                    </div>
                                                                    <div class="form-order__data form-group">
                                                                        <input id="room-2" type="text"/>
                                                                        <label for="room-2">Кв.</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-order__points-2">
                                                                <div class="form-group form-order__point-3">
                                                                    <input class="datepicker-here" id="data-d"
                                                                           type="text"/>
                                                                    <label for="data-d">Дата доставки</label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input id="time-d" type="text"/>
                                                                    <label for="time-d">Время доставки</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-order__points-2">
                                                                <div class="form-group">
                                                                    <input id="weight" type="text"/>
                                                                    <label for="weight">Вес, кг</label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input id="volume" type="text"/>
                                                                    <label for="volume">Объем, м<sup>3</sup></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-order__data-box-2">
                                                    <ul>
                                                        <li>
                                                            <input class="visually-hidden" id="check-1"
                                                                   type="checkbox"
                                                                   checked="checked"/>
                                                            <label for="check-1">Груз упакован</label>
                                                        </li>
                                                        <li>
                                                            <input class="visually-hidden" id="check-2"
                                                                   type="checkbox"/>
                                                            <label for="check-2">Груз не упакован</label>
                                                        </li>
                                                        <li>
                                                            <input class="visually-hidden" id="check-3"
                                                                   type="checkbox"
                                                                   checked="checked"/>
                                                            <label for="check-3">Можно кантовать</label>
                                                        </li>
                                                        <li>
                                                            <input class="visually-hidden" id="check-4"
                                                                   type="checkbox"/>
                                                            <label for="check-4">Хрупкий груз</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="form-order__file-wrap">
                                                    <div class="form-group">
                                                        <img src="images/svg/warning.svg" alt="">
                                                        <p>Если груз будет значительно больше указанных габаритов, то за
                                                            него придется доплатить. </p>
                                                    </div>
                                                    <div class="form-group">
                                                        <img src="images/svg/camera.svg" alt="">
                                                        <p>Для более точного отпределения особенностей груза, у вас есть
                                                            возможность <label for="file">прикрепить его фото</label>.
                                                        </p>
                                                        <input class="visually-hidden file" type="file" id="file" multiple="multiple" multiple data-multiple-caption="Выбрано файлов: {count}">
                                                        <div class="file-res">
                                                            <span></span>
                                                            <a class="reset-file" href="#">Х</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-order__data-box form-order__data-box--com">
                                                    <div class="form-group">
                                                        <input type="text" id="company">
                                                        <label for="company">Имя/ компания*</label>
                                                    </div>
                                                </div>
                                                <div class="form-order__radio">
                                                    <div class="form-group">
                                                        <input class="visually-hidden" type="radio" id="item-1"
                                                               name="face">
                                                        <label for="item-1">Физ. лицо</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="visually-hidden" type="radio" id="item-2"
                                                               name="face" checked>
                                                        <label for="item-2">Юр. лицо</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="visually-hidden" type="radio" id="item-3"
                                                               name="face">
                                                        <label for="item-3">ИП</label>
                                                    </div>
                                                </div>
                                                <div class="form-group form-group--text">
                                                    <textarea name="text" id="text"></textarea>
                                                    <label for="text">Для юр. лиц и ИП введите реквизиты</label>
                                                </div>
                                                <div class="form-order__points-box">
                                                    <div class="form-order__data-box">
                                                        <div class="form-order__points-2">
                                                            <div class="form-order__where form-group">
                                                                <input id="phone" type="tel"required/>
                                                                <label for="phone">Телефон</label>
                                                            </div>
                                                            <div class="form-order__where form-group">
                                                                <input id="email" type="email" required/>
                                                                <label for="email">E-mail</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="button button--effect-1">
                                                    <span>Оформить доставку</span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delivery__delivery-caption container">
                <h3>Условия доставки</h3>
                <ul>
                    <li>
                        <p>Доставка из Москвы в Минск осуществляется <strong>по рабочему расписанию
                                автомобилей</strong>. Доставка по
                            Минску включена в стоимость заказа и дополнительных оплат не требуется. Доставка
                            осуществляется до двери Вашего подъезда. Поднятие на этаж <strong>не входит в
                                услуги</strong> по доставке
                            курьером.</p>
                    </li>
                    <li>
                        <p>День и время доставки определяется в зависимости от утверждённого плана доставок
                            курьером. Заказ будет доставлен в указанный вами день и время, которые вы можете
                            <strong>согласовать заранее</strong> при оформлении заказа.</p>
                    </li>
                </ul>
            </div>
            </div>
        </section>
    </main>
    <footer class="main-footer main-footer--blog">
        <section class="main-footer__wrapper container">
            <div class="main-footer__box">
                <div class="main-footer__image"><a href="#"><img src="images/svg/logo.svg" width="195" height="80"
                                                                 alt="Логотип"/></a></div>
                <div class="main-footer__address"><a
                            href="https://yandex.by/maps/157/minsk/house/Zk4Ycw5jQEIEQFtpfXVxcnRlYQ==/?ll=27.596172%2C53.903972&amp;utm_source=main_stripe_big&amp;z=17"
                            target="_blanck"><img src="images/svg/icon-pin.svg" width="30" height="30" alt="Адрес"/>Минск,
                        пер. Козлова 24А</a>
                    <p><img src="images/svg/icon-footer-clock.svg" width="30" height="30" alt="Время работы"/>9:00 -
                        20:00 без выходных
                    </p>
                </div>
                <ul class="socials">
                    <li><a href="#"><span class="visually-hidden">Вконтакте</span><img src="images/svg/icon-vk.svg"
                                                                                       width="35" height="35"
                                                                                       alt="Вконтакте"/></a></li>
                    <li><a href="#"><span class="visually-hidden">Инстаграм</span><img src="images/svg/icon-in.svg"
                                                                                       width="35" height="35"
                                                                                       alt="Инстаграм"/></a></li>
                    <li><a href="#"><span class="visually-hidden">Ютьюб</span><img src="images/svg/icon-youtube.svg"
                                                                                   width="35" height="35" alt="Ютьюб"/></a>
                    </li>
                    <li><a href="#"><span class="visually-hidden">Одноклассники</span><img src="images/svg/icon-ok.svg"
                                                                                           width="35" height="35"
                                                                                           alt="Одноклассники"/></a>
                    </li>
                    <li><a href="#"><span class="visually-hidden">Фэйсбук</span><img src="images/svg/icon-fb.svg"
                                                                                     width="35" height="35"
                                                                                     alt="Фэйсбук"/></a></li>
                    <li><a href="#"><span class="visually-hidden">Линкедин</span><img src="images/svg/icon-linked.svg"
                                                                                      width="35" height="35"
                                                                                      alt="Линкедин"/></a></li>
                </ul>
            </div>
            <div class="main-footer__nav">
                <ul class="main-footer__list-1">
                    <li><a href="#">Экспресс-доставка Москва-Минск</a></li>
                    <li><a href="#">Доставка по всей России</a></li>
                    <li><a href="#">Авиадоставка из Москвы</a></li>
                    <li><a href="#">Доставка из IKEA</a></li>
                </ul>
                <ul class="main-footer__list-2">
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="main-footer__contacts">
                    <div class="main-footer__contacts-box"><a href="tel:+375447585858"><img
                                    src="images/svg/icon-tel.svg" width="30" height="30" alt="Телефон"/>+375 44 758 58
                            58</a><a href="tel:+375447585858"><img src="images/svg/icon-tel.svg" width="30" height="30"
                                                                   alt="Телефон"/>+375 44 758 58 58</a><a
                                href="mailto:m_expressinfo@tut.by"><img src="images/svg/icon-mail.svg" width="30"
                                                                        height="30"
                                                                        alt="Почта"/>M_expressinfo@tut.by</a></div>
                    <ul class="messengers">
                        <li><a href="#"><span class="visually-hidden">Вайбер</span><img src="images/svg/icon-viber.svg"
                                                                                        width="35" height="35"
                                                                                        alt="Вайбер"/></a></li>
                        <li><a href="#"><span class="visually-hidden">Телеграм</span><img
                                        src="images/svg/icon-telegram.svg" width="35" height="35" alt="Телеграм"/></a>
                        </li>
                        <li><a href="#"><span class="visually-hidden">Ватсап</span><img
                                        src="images/svg/icon-whatsapp.svg" width="35" height="35" alt="Ватсап"/></a>
                        </li>
                        <li><a href="#"><span class="visually-hidden">Скайп</span><img src="images/svg/icon-skype.svg"
                                                                                       width="35" height="35"
                                                                                       alt="Скайп"/></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="developers">
            <div class="developers__wrapper"><a href="#">Разработка и продвижение<img src="images/svg/cmbox-logo.svg"
                                                                                      width="93" height="33"
                                                                                      alt="Digital-Агенство CmBox"/></a>
            </div>
        </section>
    </footer>
{% endblock %}
