<header class="main-header">
    <nav class="main-header__wrapper container">
        <div class="main-header__logo"><a href="#"><img src="images/svg/logo.svg" width="195" height="80" alt="Логотип"/></a></div>
        <div class="main-header__nav">
            <div class="main-header__nav-box">
                <ul>
                    <li class="main-header__wrap-menu active-item"><a class="main-header__link-tablet" href="#">Услуги</a>
                        <ul class="main-header__wrap">
                            <li><a href="#">Экспресс-доставка Москва-Минск-Москва</a></li>
                            <li><a href="#">Доставка по всей России</a></li>
                            <li><a href="#">Авиадоставка из Москвы</a></li>
                            <li><a href="#">Доставка из IKEA</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="main-header__box">
            <div class="main-header__box-tel"><a class="main-header__link" href="tel:+375447585858"><img src="images/svg/icon-tel.svg" width="40" height="40" alt="Телефон"/><span>+375 44 758 58 58</span></a>
                <div class="main-header__tel main-header__tel--closed">
                    <div class="main-header__inner-tel">
                        <div class="main-header__wrap-tel"><a href="tel:+375447585858">+375 44 758 58 58</a><a href="tel:+375447585858">+375 44 758 58 58</a>
                            <ul class="messengers">
                                <li><a href="#"><span class="visually-hidden">Вайбер</span><img src="images/svg/icon-viber.svg" width="35" height="35" alt="Вайбер"/></a></li>
                                <li><a href="#"><span class="visually-hidden">Телеграм</span><img src="images/svg/icon-telegram.svg" width="35" height="35" alt="Телеграм"/></a></li>
                                <li><a href="#"><span class="visually-hidden">Ватсап</span><img src="images/svg/icon-whatsapp.svg" width="35" height="35" alt="Ватсап"/></a></li>
                                <li><a href="#"><span class="visually-hidden">Скайп</span><img src="images/svg/icon-skype.svg" width="35" height="35" alt="Скайп"/></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><a class="main-header__link" href="#"><img src="images/svg/icon-users.svg" width="40" height="40" alt="Пользователь"/><span>Войти</span></a>
            <button class="main-header__burger main-header__burger--closed" type="button"><span class="visually-hidden">Бургер меню</span><span></span><span></span><span></span></button>
        </div>
    </nav>
</header>